@font-face {
  font-family: "Roboto-Light";
  src: url("/assets/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("/assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Allura-Regular";
  src: url("/assets/fonts/Allura-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Arimo-Regular";
  src: url("/assets/fonts/Arimo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Arimo-Bold";
  src: url("/assets/fonts/Arimo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow-SemiBold";
  src: url("/assets/fonts/Barlow-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow-Italic";
  src: url("/assets/fonts/Barlow-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow-Regular";
  src: url("/assets/fonts/Barlow-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe UI";
  src: url("/assets/fonts/Segoe-UI.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe UI Italic";
  src: url("/assets/fonts/Segoe-UI-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe UI Bold";
  src: url("/assets/fonts/Segoe-UI-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe UI Light";
  src: url("/assets/fonts/Segoe-UI-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe UI Semilight";
  src: url("/assets/fonts/Segoe-UI-Semilight.ttf") format("truetype");
}
