.banner {
  padding-bottom: 50px;

  .banner-container {
    display: flex;
    min-width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20rem 0 20rem;
    background-image: url("../../../assets/images/home_background.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 75vh;

    .banner-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h1 {
        display: block;
        font-family: "Barlow-SemiBold", sans-serif;
        letter-spacing: -2.36px;
        font-size: 40px;
        color: $light-background-color;
        margin: 0;
        font-weight: 700;
      }

      p {
        font-family: "Barlow-Italic", sans-serif;
        letter-spacing: -0.94px;
        font-size: 16px;
        color: $light-background-color;
        font-weight: 500;
        line-height: 1.5;
      }
    }
  }

  .description {
    padding-top: 10px;

    @include media-breakpoint-up(lg) {
      padding-top: 50px;
    }

    .description-label {
      h2 {
        font-family: "Segoe UI Italic", sans-serif;
        font-size: 27px;
        margin: 10px 60px;
        padding: 0 10px 10px 0;
        border-bottom: 1px solid $theme-color;
      }
    }

    .description-text {
      p {
        padding: 25px 50px 0 50px;
      }

      @include media-breakpoint-up(lg) {
        padding: 0 70px 0 20px;
      }
    }
  }
}